<%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path, remote: true) do |f| %>
	<div class="field">
		<div class="ui fluid icon input">
			<%= f.text_field :body %>
			<%= f.button '<i class="bordered inverted red edit icon"></i>'.html_safe %>		
		</div>
	</div>
<% end %>