<h2 class="ui center aligned icon header">
Welcome to the message me ChatApp.
</h2>
<h4 class="ui center aligned icon header">
  <i class="power off icon"></i>
  Please sign in or sign up.
</h4>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_for(:session, html: {classe: "ui form", role: "form"}, url: login_path) do |f| %>
      <div class="ui form">
        <div class="field">
          <%= f.label :name, "Username" %>
          <div class="ui left icon input">
            <%= f.text_field :name, placeholder: "Username" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password, "Password" %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <%= f.button "Login", class: "ui blue submit button" %>
        <% end %>
      </div>
    </div>
    <div class="middle aligned column">
      <div class="ui big button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
