<h2 class="ui center aligned icon header">
  <i class="circular comments icon"></i>
  Friends
</h2>

<div class="ui two column grid">
	<div class="twelve wide column">
		<div class="ui fluid raised card chatbox">
			<!-- Activity starts here -->
			<% if logged_in? %>
			  <div class="content" id="messages">
			    <div class="ui feed" id="message-broadcast">
			      <!-- message start -->
				    <%= render @messages %>
			    </div>
			  </div>
			  <div class="extra content">
			    <%= render 'messages/send_message' %>
			  </div>
		  <% else %>
				<div class="content">
			    <div class="ui feed">
			      <p>You need to be logged in to see the messages</p>
			    </div>
			  </div>
			<% end %>
		</div>
	</div>

<!-- Vertical menu starts here	 -->
	<div class="four wide column">
		<div class="ui fluid raised card chatbox">
		  <div class="content">
				<div class="ui vertical menu">
				  <a class="active teal item">
				    Inbox
				    <div class="ui teal left pointing label">1</div>
				  </a>
				  <a class="item">
				    Spam
				    <div class="ui label">51</div>
				  </a>
				  <a class="item">
				    Updates
				    <div class="ui label">1</div>
				  </a>
				  <div class="item">
				    <div class="ui transparent icon input">
				      <input type="text" placeholder="Search mail...">
				      <i class="search icon"></i>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>