<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">Messages</a>
<div class="right menu"> 
  <!-- <a class="item">Help</a> -->
  <div class="ui simple dropdown item">
    Account
    <i class="dropdown icon"></i>
    <div class="ui menu">
      <% if logged_in? %>
        <%= link_to "Log out", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Log in", login_path, class: "item" %>
        <a class="item">Sign Up</a>
      <% end %>
      <div class="item">Other</div>
    </div>
  </div>
  <% if !logged_in? %>
  <%= link_to "Log in", login_path, class: "item" %> 
  <% end %>
</div>